<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>
	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-12 offset-md-0">
					<div class="card">
						<div class="card-header text-center fs-4">Users</div>
						<th:block th:if="${session.msg}">
							<p class="text-center text-success fs-4">[[${session.msg}]]</p>
							<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>

						</th:block>
						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">ID</th>
										<th scope="col">Name</th>
										<th scope="col">Email</th>
										<th scope="col">Address</th>
										<th scope="col">Pin</th>
										<th scope="col">City</th>
										<th scope="col">Mobile</th>
										<th scope="col">Electricity CID</th>
										<th scope="col">Role</th>
										<th scope="col">Status</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="c : ${user}">
										<th scope="row" th:text="${'RJTXD2023'+ c.id}">1</th>
										<td th:text="${c.name}">Mark</td>
										<td th:text="${c.email}">Otto</td>
										<td th:text="${c.address}">@mdo</td>
										<td th:text="${c.pin}">@mdo</td>
										<td th:text="${c.city}">@mdo</td>
										<td th:text="${c.mobile}">@mdo</td>
										<td th:text="${c.elctricityCustomerID}">@mdo</td>
										<td th:text="${c.role}">@mdo</td>
										<td th:text="${c.status}">@mdo</td>
										<td>




											<form th:action="@{'/admin/update-user/'+${c.id}}" method="post">
												<button class="btn btn-success btn-sm my-button">Update</button>
											</form>
											<a th:onclick="|deleteUser(${c.id})|" href="#"
												class="btn btn-danger btn-sm my-button">Delete</a>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>

</html>